<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{style}}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <a class="logo" href="/">Chat Website</a>
    <a class="login" href="/login">login</a>
    <a class="register" href="/register">register</a>
</header>
</body>
</html>