<!DOCTYPE html>
<html lang="de">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous|Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="Einstellungen.css">

</head>

<body>

<h1 style= "font-family:'Rubik', cursive;">Dies ist Bald verfügbar, zurzeit leider noch nicht ...</h1>
<a class="test"; href="/">Zurück zur Homepage</a>