* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #292929;
}
nav {
    background-color: #22777A;
    color: white;
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
}
nav ul {
    background-color: #22777A;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
nav li {
    background-color: #22777A;
    list-style: none;

}
nav li a {
    background-color: #22777A;
    color: #FBFBFB;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}
nav li a:hover {
    background-color: #22777A;
    color: #313131;
    text-decoration: none;
}
nav h4 {
    background-color: #22777A;

}


.ulbox li {
    list-style-type: none;
    text-align: center;
}
.ulbox li a {
    border: 3px solid #3f3f44;
    border-radius: 7px;
    padding: 3% 18%;
    text-decoration: none;
    color: #FBFBFB;
    background-color: #3f3f44;
    transition: border-color 0.6s ease 0s;
    transition: background-color 0.6s ease 0s;
}
.ulbox li a:hover {
    background-color: #22777A;
    border-color: #22777A;
}
.ulboxmiddle {
    margin: auto;
    margin-top: 3.5%;
    width: 60%;
}


.Kontaktbox {
    background-color: #22777A;
}
.Kontaktimg {
    background-color: #22777A;
    width: 33px;
    position: absolute;
    left: 23px;
    top: 33px;
}
.wrap_sidebar-content {
    margin: auto;
    text-align: center;
}
.wrap_sidebar-content input {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    height: auto;
    border-radius: 5px;
    border: 1px solid #3f3f44;
    padding: 10px 15px;
    background-color: #3f3f44;
    color: #C5C8CC;
}


@media only screen and (max-width: 600px) {
    .wrap_sidebar-content input {
        display: block;
        margin : 0 auto;
        text-align: center;
        height: auto;
        border-radius: 5px;
        border: 1px solid #3f3f44;
        padding: 10px 15px;
        background-color: #3f3f44;
        color: #C5C8CC;
    }
}