<!DOCTYPE html>

<html lang="en">
<head>

    <link href="https://fonts.googleapis.com/css?family=Righteous|Rubik&display=swap" rel="stylesheet">
    <link href="{{style}}" rel="stylesheet">
</head>

<body>

<div class="wrapper">
    <div class="wrap_sidebar">
        <div class="wrap_sidebar-header">
            <span>Welcome:&nbsp</span>
            <span id="welcome_name"> </span>
        </div>

        <div class="wrap_sidebar-content">
            <input type="text" placeholder="Search chats"/>

        </div>
        <ul id="messages2_socket"></ul>

    </div>

    <div class="wrap_chat grid-container">
        <div class="wrap_chat-header">
            <div class="wrap_chat-header--user">
                <figure class="wrap_chat-header--user___avatar">
                    <img src="../chatassets/img/avatar/man_avatar3.jpg" alt="avatar" class="rounded-circle">
                </figure>
                <div class="wrap_chat-header--user___avatar_text profile_picture">

                </div>
                <div class="wrap_chat-header--user___content">

                </div>

            </div>
        </div>

    </div>
    <div class="wrap_chat-body" style="overflow-y: scroll; display: flex; flex-direction: column-reverse;"; >
        <div class="messages">
            <ul id="messages_socket"></ul>
        </div>
    </div>
    <div class="chat-footer">
        <div class="chat-footer--typing">
            <form id="form" action="">
                <input type="text" placeholder="Typing message..."id="input" autocomplete="off" />
                <input type="image" src="../chatassets/icon/send.svg" class="btn" alt="send"/>
            </form>
        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();

    var messages = document.getElementById('messages_socket');
    var messages2 = document.getElementById('messages2_socket')
    var names = document.getElementById('names-list');
    var form = document.getElementById('form');
    var input = document.getElementById('input')

    let params = new URLSearchParams(document.location.search.substring(1));
    document.getElementById("welcome_name").innerHTML = params.get("username");

    function codeAddress() {
        var item = document.createElement('li');
        item.textContent = "{{names}}";
        messages2.appendChild(item);
    }


    form.addEventListener('submit', function(e) {
                e.preventDefault();
                if (input.value) {


                    socket.emit('message', params.get("username"))
                    socket.emit('chat message', input.value);
                    var item = document.createElement('li');
                    item.textContent = input.value;
                    item.classList = "outgoing-message";
                    messages.appendChild(item);
                    window.scrollTo(0, document.body.scrollHeight);
                    input.value = '';
                }
            }
    );

    window.addEventListener("beforeunload", function (e) {
        var confirmationMessage = "\o/";
        socket.emit('logout', params.get("username"));
        (e || window.event).returnValue = confirmationMessage; //Gecko + IE
        return confirmationMessage;                            //Webkit, Safari, Chrome
    });

    socket.on('chat message', function(msg) {
        var item = document.createElement('li');
        item.textContent = msg;
        item.classList = "ingoing-message";
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
    });
    window.onload = codeAddress;
</script>

</body>
</html>